<link rel="stylesheet" href="login.component.css">
<div class="Register"><input type="text" value="Login">
</div>
<div class="center">
    <form method="post">
        <div class="txt_field">
            <input type="text" required placeholder="Enter Email">
        </div>
        <br>
        <div class="txt_field">
            <input type="password" required placeholder="Enter Password">
        </div>
        <br>
        <div class="centerb">
            <input type="submit" value="login"> 
        </div>
        <div class="signup_link"> 
            New User/Admin?<a href="http://localhost:8080/signup.component.html" >SignUp</a>
        </div>
    </form>
</div>