.listTitle{
    display: flex;
    color: #fff;
    background-color: rgb(30, 80, 80);
    height: 70px;
    margin: 30px;
}
.listTitle li, .listValues li{
    margin: 30px;
    margin-right: 200px;
    list-style: none;
}
.listValues{
    display: flex;
    color: #fff;
    background-color: rgb(135, 197, 197);
    height: 70px;
    margin: 30px;
}