<div class="container">
    <div class="row">
        <div class="col-6 box">
            <input type="text" placeholder="Enter theme name" />
            <input type="text" placeholder="Enter Image url" />
            <input type="text" placeholder="Enter photographer details" />
            <img src="../../../assets/images/Profile.jfif"/>
        </div>
        <div class="col-4 box" >
            <input type="text" placeholder="Enter Videographer Details" />
            <input type="text" placeholder="Enter theme return gift" />
            <input type="number" placeholder="Enter theme cost" />
            <input type="text" placeholder="Enter theme description" />
            <button class="btn btn-secondary" >Add Theme</button>
        </div>
    </div>
</div>