.container{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.box input, .selection{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #fff;
    text-align: center; 
    height: 60px;
}
/* input::placeholder{
    display: flex;
} */
.selection{
    border: 2px solid black;
}
.btn{
    position: absolute;
    right: 70px;
    bottom: 100px;
}
.pages{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page{
    display: flex;
    width: 50px;
}