<!-- Navbar -->
<!-- <div class="navbar">
    <div class="container-fluid">
        <h5>Birthday Event</h5>
        <nav>
            <li><a routerLink="/user/bookTheme">Book Event</a> </li>
            <li><a routerLink="/user/bookTheme">View Booked event</a> </li>
        </nav>
        <li><a>Logout</a></li>
    </div>
</div> -->
<!-- /Navbar -->
<!-- Body -->
<div class="body">
    <!-- Serach box -->
    <div class="search box">
        <input type="search" placeholder="Type here to search"/>
        <button class="btn btn-primary">Search</button>
    </div>
    <!-- /Search box -->

    <div class="content">
        <div class="card">
            <img src="../../../assets/images/baby.jpg">
            <div class="matter">
                <h6>Baby pic</h6>
                <p>Place Nellore</p>

            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/baby.jpg">
            <div class="matter">
                <h6>Baby pic</h6>
                <p>Place Nellore</p>

            </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/baby.jpg">
            <div class="matter">
                <h6>Baby pic</h6>
                <p>Place Nellore</p>

            </div>
        </div>
</div>
<!-- /Body -->